@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 *{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

 }


 header{
    background-color: whitesmoke;
    width: 100%;
    position:fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
 }
 .logo{
    text-decoration: none;
    color:red;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
 }
 .navigation a{
   color: red;
   text-decoration: none;
   font-size: 1.1em;
   font-weight: 500;
   padding-left: 30px;
 }
 .navigation a:hover{
   color: blueviolet;
 }
section{
   padding: 100px 200px;
}
.main{
   width: 100%;
   min-height: 100vh;
   display: flex;
   align-items: center;
   background: url(images/cinema-background-with-movie-objects_1823387.jpg)no-repeat;
   background-size: cover;
   background-position: center;
}
.main h2{
color: aliceblue;
font-size: 1.4em;
font-weight: 500;
}
.main h2 span{
   display: inline-block;
   margin-top: 5px;
   color: cornflowerblue;
   font-size: 3em;
   font-weight: 600;
}
.main h3{
   color: red;
   font-size: 2em;
   font-weight: 700;
   letter-spacing: 1px;
   margin-top: 5px;
   margin-bottom: 10px;
}